
<section>
	<app-splash-screen></app-splash-screen>
	<header class="nav-header">
		<div class="logo">
			🐦‍🔥
		</div>
		<form #search class="search-form">
			<input type="text" placeholder="Search..." class="search-input">
			<button type="submit" class="search-button">🔍</button>
		</form>
		<div class="logo">
			🙍🏻‍♂️
		</div>
	</header>
	<div class="map-container">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.8354343503985!2d-122.084249!3d37.422065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb74e43bbd2ff%3A0x95d3315d8e3f744e!2sGoogleplex!5e0!3m2!1sen!2sus!4v1592234567890!5m2!1sen!2sus"
			width="526" height="351" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"
		></iframe>
		<div class="control-btn-container">
			<div #LocationPin class="location-pin">
				<div class="logo">📍</div>
			</div>
			<button class="advance-search-btn" #AdvanceSearchBtn>Advance Search</button>
		</div>
	</div>
</section>

